.niveau{
   margin-bottom: 1%;
   width:100%;
}
.container2{
	background-color: #f1f1f1; 
	padding : 1% ;
	padding-left: 2%;
	margin-bottom: 1%;
}
.moyenne{
	color:black ; 
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}